
body{
    text-align: center;
}
.services{
    width: 100%;   
    margin-top: 5%; 
}
.logo{
    position: fixed;
    top:2%;
    left:1%;
    z-index: 100;
}
.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  #mydiv {
    position: absolute;
    right:0px;
    z-index: 100;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    border-radius: 10%;
    color:white;
   
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 100;

    color: #fff;
    border-radius: 10%;
    color:white;

}
.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }

/* #C8E6C9,#efa047,#6dcc7a,#f1d01b,#eb4d55,#5783c8 */